.book-main {
  border: solid 1px black;
}

.book-box {
  margin: 20px 5px 0px 5px;
  border: solid 1px black;
}

.get-b0 {
  width: 100%;
  display: flex;

  justify-content: space-between;
}

.get-b1 {
  border: solid 0px black;
}

.get-b2 {
  align-self: flex-end;
  border: solid 0px black;
}

input {
  margin: 5px;
  height: 20px;
}

form {
  border: solid 0px black;
}

button {
  cursor: pointer;
  background-color: #5bdfb9;
  border: none;
  color: black;
  padding: 4px 10px;
  text-align: center;
  margin: 5px;
  font-size: 15px;
}

h1 {
  margin: 0;
  border: solid 0px black;
  text-align: center;
  font-size: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  padding: 5px;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th {
  background-color: rgb(117, 201, 250);
  border: 1px solid black;
}

td {
  background-color: rgb(205, 235, 253);
  border: 1px solid black;
}
