.box-create {
  display: flex;
  flex-wrap: wrap;
  width: auto;
}

.box-create button {
  border: solid 1px rgb(9, 142, 146);
  padding: 4px 10px;
  margin: 5px;
  font-size: 15px;
}

.box-create button {
  background-color: rgb(13, 197, 111);
  cursor: pointer;
  color: black;
  border: none;
}
