.box-0 {
  border: solid 0px rgb(253, 54, 54);
  width: auto;
}

.box-table,
.box-create {
  margin-top: 4px;
  border: solid 0px black;
  width: auto;
}

.box-pagination {
  border: solid 0px black;
  width: auto;
  margin-top: 4px;
}
